<div class="card">
  <div class="card-header">
    My App
  </div>
  <div class="card-body">
    <h5 class="card-title">Title</h5>
    <div class="row">
      <div class="col-md-4 float-left">
          <a class="btn btn-primary d-block m-3" routerLink="home">Home</a>
          <a class="btn btn-primary d-block m-3" routerLink="about">About</a>
          <a class="btn btn-primary d-block m-3" routerLink="service">Service</a>
          <a class="btn btn-primary d-block m-3" routerLink="contact">Contact</a>
          <a class="btn btn-primary d-block m-3" routerLink="products">Products</a>
          
      </div>
      <div class="col-md-8">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


